* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif" ;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg, #151515,#9add82)

}
nav {
    position: relative;
    width: 480px;
    background: #222;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center
}

nav a {
    position: relative;
    display:inline-block;
    font-size: 1em;
    font-weight: 500;
    color:white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;

}
nav a:hover {
    transform: scale(1.5);
    transition: 1.2s;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #366c35,#51fa13);
    border-radius :8px;
    transition: 0.8s;

}

nav a:nth-child(1):hover~span{
    left: 0px;
    
}

nav a:nth-child(2):hover~span{
    left:90px;
}

nav a:nth-child(3):hover~span{
    left:180px;
    width:100px;
}

nav a:nth-child(4):hover~span{
    left:280px;
    width:100px;
}

nav a:nth-child(5):hover~span{
    left:380px;
    width:100px;
}
